$orange: #ff6600;
$blue: #003366;
$light: #fff;

$form-switch-color: $blue;
$form-switch-focus-color: $blue;
$form-switch-checked-color: $orange;

$dropdown-link-color: $blue;

$input-bg: $light;

$body-bg: #f0f0f0;

$primary: $blue;
$secondary: $orange;

@import "../../node_modules/bootstrap/scss/bootstrap";

@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.css";

.navbar-brand,
.navbar-brand:visited,
.navbar-brand:hover,
.navbar-brand:focus,
.navbar-brand:active,
.bi-list,
.navbar-nav a,
footer div span,
footer div i {
  color: $orange !important;
}

.navbar,
footer {
  background-color: $blue !important;
}

main {
  padding-top: 66px !important;
}
.custom-max-width {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}
